/* .container {
  width: 100%;
  height: 100%;
  background-color: #308fcc;
  background-position: cover;
  background-size: cover;
  position: relative;
  overflow: hidden;
} */

.container {
  background-color: #FFCCCC ;
  margin-left: 0 !important;
  margin-right: 0;
  max-width: 100%!important;
  width: 100% !important;
  height: 100vh;
}

::ng-deep .mat-form-field {
  text-align: center!important;
  width: 70%;
}

::ng-deep .mat-form-field-appearance-outline:hover .mat-form-field-outline-thick{
  border-color: #FF9999;
  color: #FF9999;
  filter:drop-shadow(0px 0px 3px #FF9999);
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
  text-align: center !important;
}

::ng-deep .mat-input-element {
  text-align: center !important;
  position: relative;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #FF9999;
  filter:drop-shadow(0px 0px 3px #FF9999);
}

::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
  color: red;
  filter:drop-shadow(0px 0px 3px red);
}

/* .container:before {
    content: "";
    display: block;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    height: 100vh;
} */

.login-card {
  border-color: #FF9999;
  text-align: center;
  max-width: 70%;
  width: 70%;
  position: absolute;
  top: 180px;
  left: 50%;
  transform: translateX(-50%);
}
.title {
  text-align: center;
}

.btn-center {
  display: flex;
  justify-content: center;
}


.addBtn {
  background-color: #FF9999;
  color: white;
}

.addBtn:hover{ /*小漢堡*/
  background-color: #FF6666;
}
