.content-container {
  text-align: left;
  width: screen*0.3px;
  position: relative;
  overflow: auto;
  height: auto;
  min-height: 0;
  margin: 90px 5px;
  border-radius: 4px;
  background-color: #fff;
}

.navbar {
  z-index: 9999;
  width: 100%;
  height:70px;
  background-color:#FFCCCC;
  color: white;
  position:fixed;
  top:0px;
  left:0px;
  right: 0px;
  padding: 0 0;
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.divlogo2 {
  margin: auto;
  text-align: center;
}

mat-icon {
  font-size: 3rem !important;
  color: red;
  vertical-align: middle;
  display: flex;
  align-items: center;
}

.logo{
  display:block;
  align-items: center;
  margin-top: 5px;
  /* margin: 0 0; */
  padding: 0 0;
  width: 60px;
  /* text-align: center; */
}

.example-card {
  max-width: 400px;
  border-radius: 10px;
  border: rgba(0, 0, 0, 0.2) solid 1px;
}

.menubtn{ /*小漢堡*/
  color: #FF9999;
  margin-left: 16px;
  display:inline-block;
}

.menubtn:hover{ /*小漢堡*/
  color: #FF6666;
  font-size: 1.8rem;
}

.swiper-container {
  /* position: absolute; */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: gray;
  height: auto;
  text-align: center;
  vertical-align: middle;
}


.previewimg {
  height: 50%;
  width: 70%;
}
